<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset='utf-8' />
    <meta httpEquiv="X-UA-Compatible" content="IE=edge" />
    <title>脑洞大赏</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="<%- getStatic('headHole.css') %>" />
    <link rel="shortcut icon" href="//www.iqiyipic.com/common/images/logo.ico" type="image/icon">
</head>
<body>

<div id="headHole" class="headHole-wrapper">
    <div id="topicBanner" class="topic-banner">
        <h3 id="topic-title" class="topic-title"></h3>
        <div class="triangle"></div>
    </div>
    <div class="comment-list">
        <div class="column-left">
        </div>
        <div class="column-right">
        </div>
    </div>
    <div class="bottom-text-box">
        打开爱奇艺APP，参与脑洞领积分
    </div>


    <div class="bottom-fixed-wrapper">
        <div class="flex-box">
            <img class="icon-iqiyi" src="//statics-web.iqiyi.com/common/images/logo.png" alt="iqiyi-icon"></img>
            <div class="text-box">
                <div class="iqiyi-text">爱奇艺APP</div>
                <span class="small-gray">悦享品质</span>
            </div>
            <div class="open-btn" data-click="callApp">打开爱奇艺</div>
        </div>
    </div>
</div>



<script src="<%- getStatic('res/scripts/lib/zepto-with-tap-i.min.js') %>"></script>
<script src="//statics-web.iqiyi.com/common/jssdk/iqiyiJsBridge-v2-min.js"></script>
<script src="<%- getStatic('vendor.js') %>"></script>
<script src="<%- getStatic('headHole.js') %>"></script>

<% if (env==='fat') { %>
    <!--eruda for test-->
    <script src="//cdn.jsdelivr.net/npm/eruda"></script>
    <script>eruda.init();</script>
<% } %>
<% if (env !== 'production') { %>
    <script>console.log('Node Server Environment:', '<%= env %>')</script>
<% } %>
</body>
</html>
