<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset='utf-8'/>
    <meta httpEquiv="X-UA-Compatible" content="IE=edge"/>
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="shortcut icon" href="//www.iqiyipic.com/common/images/logo.ico" type="image/icon">
    <link rel="stylesheet" href="<%- getStatic('res/css/mescroll.min.css') %>">
    <link rel="stylesheet" href="<%- getStatic('orderlist.css') %>"/>
</head>
<body>
<a id="recordHelper" class="record-helper" href="/integralh5/orderlist/helper">找不到已有的兑换记录？点这里 ></a>
<div id="mescroll" class="mescroll">
    <ul id="orderList" class="record-list"></ul>
    <div id="noRecord" class="no-record"></div>
</div>

<% if (env === 'fat') { %>
    <!-- vconsole for test -->
    <script src="//statics-web.iqiyi.com/common/jssdk/src/vconsole.min.js"></script>
    <script>var vConsole = new VConsole()</script>
<% } %>
<% if (env !== 'production') { %>
    <script>console.log('Node Server Environment:', '<%= env %>')</script>
<% } %>

<script src="<%- getStatic('res/scripts/lib/zepto-with-tap-i.min.js') %>"></script>
<script src="//statics-web.iqiyi.com/common/jssdk/iqiyiJsBridge-v2-min.js"></script>
<script src="<%- getStatic('res/scripts/lib/mescroll.min.js') %>"></script>
<script src="<%- getStatic('res/scripts/lib/clipboard.min.js') %>"></script>
<script src="<%- getStatic('vendor.js') %>"></script>
<script src="<%- getStatic('orderlist.js') %>"></script>
</body>
</html>
