<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset='utf-8'/>
    <meta httpEquiv="X-UA-Compatible" content="IE=edge"/>
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="shortcut icon" href="//www.iqiyipic.com/common/images/logo.ico" type="image/icon">
    <link rel="stylesheet" href="<%- getStatic('auction.css') %>"/>
</head>
<body>

<div class="wrapper">
    <div id="topWrapper" class="top-wrapper">
        <!--我的抢拍入口-->
        <span id="openRuleDialog" class="mylist-rule">
            <span id="newMessageInMylist" class="mylist-new-message"></span>
        </span>
        <span id="mylistEntrance" class="mylist-entrance">
            <span id="newMessageInMylist" class="mylist-new-message"></span>
        </span>
        <!--顶部标题-->
        <div id="topTitle" class="top-title"></div>
        <!--倒计时-->
        <div class="countdown-wrapper">
            <div class="countdown-main">
                <div class="countdown-main-inner">
                    <div class="block-title">
                        <span class="block-line"></span>
                        <h3 id="countdownTitle" class="block-text">
                            <span data-content>即将开始</span>
                            <span data-repeat>即将开始</span>
                        </h3>
                        <span class="block-line"></span>
                    </div>
                    <h5 data-countdown="subTitle" class="countdown-sub-title">每分钟一轮</h5>
                    <div data-countdown-id="countdown" class="countdown">
                        <span data-countdown="hour" class="count-number">00</span><span class="count-symbol">:</span>
                        <span data-countdown="minute" class="count-number">00</span><span class="count-symbol">:</span>
                        <span data-countdown="second" class="count-number">00</span>
                    </div>
                </div>
                <!--出价人数 && 获奖结果-->
                <div class="bid-person">本轮<span id="peopleCount">0</span>人已出价</div>
            </div>
            <div class="countdown-base">
                <div id="lableShow" class="label-show"></div>
            </div>
        </div>
        <div data-my-score class="my-point">底价: <span id="basePrice" class="base-price">0 </span><span class="my-line">|</span><span data-score>我的积分: --</span></div>
        <div class="btn-wrapper">
            <!-- <button id="toShare" type="button" class="to-share">
                <span data-content>分享</span>
                <span data-repeat>分享</span>
            </button> -->
            <button id="openBidDialog" type="button" class="bid-button">
                <span data-content>立即出价</span>
                <span data-repeat>立即出价</span>
            </button>
        </div>
        <button id="toShare" type="button" class="auction-rule">分享给好友 ></button>
    </div>

    <div class="list-wrapper">
        <div class="skew-bg skew-botom-bg"></div>
        <div class="common-wrapper">
            <i class="wrapper-decoration decoration-left"></i>
            <i class="wrapper-decoration decoration-right"></i>
            <i class="border-decoration decoration-left"></i>
            <span class="award-wrapper-title"></span>
            <button id="awardEntry" type="button" class="list-button-more"></button>
            <div id="awardList" class="award-wrapper"></div>
            <div id="awardEmptyPage" class="dis-none" style="padding: 1rem 0;">
                <div class="no-image"></div>
                <div id="awardEmptyContent" class="no-record-content">获取抢拍英雄榜失败，请稍后再看~</div>
            </div>
        </div>
    </div>

    <div class="list-wrapper">
        <div class="skew-bg skew-top-bg"></div>
        <div class="common-wrapper">
            <i class="wrapper-decoration-2 decoration-left"></i>
            <i class="wrapper-decoration-2 decoration-right"></i>
            <i class="border-decoration decoration-left"></i>
            <i class="border-decoration decoration-right"></i>
            <i class="hang-rope rope-left"></i>
            <i class="hang-rope rope-right"></i>
            <span class="list-title"></span>
            <button id="goToShoppingMall" type="button" class="list-button-more"></button>
            <ul id="productList" class="goods-wrapper"></ul>
            <div id="emptyPage" class="dis-none" style="padding: 3rem 0;">
                <div class="no-image"></div>
                <div class="no-record-content">获取商品列表失败，请稍后重试</div>
            </div>
        </div>
    </div>

    <div class="bottom-wrapper">
        <div class="common-wrapper entrance-wrapper">
            <ul id="entranceList" class="entrance-list">
                <li class="entrance-item">
                    <button id="goToTaskList" type="button">
                        <i class="entrance-image entrance-integral"></i>
                        <h3 class="entrance-title">赚积分</h3>
                        <span class="entrance-desc">每日400分等你刷></span>
                    </button>
                </li>
            </ul>
        </div>
    </div>
</div>

<% if (env === 'fat') { %>
    <!-- vconsole for test -->
    <script src="//statics-web.iqiyi.com/common/jssdk/src/vconsole.min.js"></script>
    <script>var vConsole = new VConsole()</script>
<% } %>
<% if (env !== 'production') { %>
    <script>console.log('Node Server Environment:', '<%= env %>')</script>
<% } %>

<script src="<%- getStatic('res/scripts/lib/zepto-with-tap-i.min.js') %>"></script>
<script src="//statics-web.iqiyi.com/common/jssdk/iqiyiJsBridge-v2-min.js"></script>
<script src="<%- getStatic('res/scripts/lib/icheck.min.js') %>"></script>
<script src="<%- getStatic('res/scripts/lib/countdown.min.js') %>"></script>
<script src="<%- getStatic('vendor.js') %>"></script>
<script src="<%- getStatic('auction.js') %>"></script>
</body>
</html>
