<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset='utf-8'/>
    <meta httpEquiv="X-UA-Compatible" content="IE=edge"/>
    <title>话题PK赢积分</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="shortcut icon" href="//statics-web.iqiyi.com/common/images/iqiyi_logo.ico" type="image/icon">
    <link rel="stylesheet" href="<%- getStatic('shareTopicpk.css') %>"/>
</head>
<body>

<!-- <div class="topic-top">
    <div class="top-wrapper">
        <i class="i-rope icon-left"></i>
        <i class="i-rope icon-right"></i>
        <h3 class="top-title">得票更多的一方获胜</h3>
    </div>
</div> -->

<div class="topic-block">
    <div class="top-tip">
        明天<span class="highlight">00:00</span>开奖
    </div>
    <div class="topic-title">
        主题
    </div>
    <div class="topic-view">
        <i class="i-pk-vs pk-vs"></i>
        <div data-bg-id="viewBg_0" class="image-view view-left">
            <div data-click="callApp" data-id="viewTitle_0" class="select-btn">能</div>
        </div>
        <div data-bg-id="viewBg_1" class="image-view view-right">
            <div data-click="callApp" data-id="viewTitle_1" class="select-btn">不能</div>
        </div>
    </div>
    <div class="topic-tips">
        <span class="highlight">5</span>积分/票，票高方瓜分<span class="highlight">60,000</span>积分
    </div>
</div>

<div class="rule-block">
    <div class="block-title"><span class="block-bg-left"></span>
        <h3 class="block-text">活动规则</h3><span class="block-bg-right"></span>
    </div>
    <ul data-rule-list class="rules-list">
        <% for (let i = 0; i < ruleList.length; i++) { %>
            <li class="layout-group label-w28">
                <div class="layout-label rule-icon-wrapper"><i class="circle-yellow"></i></div>
                <div class="rule-text"><%= ruleList[i] %></div>
            </li>
        <% } %>
    </ul>
</div>

<div class="bottom-fixed-wrapper">
    <div class="flex-box">
        <img class="icon-iqiyi" src="//statics-web.iqiyi.com/common/images/logo.png" alt="iqiyi-icon">
        <div class="text-box">
            <div class="iqiyi-text">爱奇艺APP</div>
            <span class="small-gray">悦享品质</span>
        </div>
        <div class="open-btn" data-click="callApp">打开爱奇艺</div>
    </div>
</div>

<% if (env !=='production') { %>
    <!--eruda for test-->
    <script src="//cdn.jsdelivr.net/npm/eruda"></script>
    <script>eruda.init();</script>
<% } %>

<script src="<%- getStatic('res/scripts/lib/zepto-with-tap-i.min.js') %>"></script>
<script src="//statics-web.iqiyi.com/common/jssdk/iqiyiJsBridge-v2-min.js"></script>
<script src="<%- getStatic('vendor.js') %>"></script>
<script src="<%- getStatic('shareTopicpk.js') %>"></script>
</body>
</html>
