<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset='utf-8'/>
    <meta httpEquiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no">
    <title></title>
    <script>!function (e) {
        function t(a) {
          if (i[a]) return i[a].exports;
          var n = i[a] = {exports: {}, id: a, loaded: !1};
          return e[a].call(n.exports, n, n.exports, t), n.loaded = !0, n.exports
        }

        var i = {};
        return t.m = e, t.c = i, t.p = "", t(0)
      }([function (e, t) {
        "use strict";
        Object.defineProperty(t, "__esModule", {value: !0});
        var i = window;
        t["default"] = i.flex = function (normal, e, t) {
          var a = e || 100, n = t || 1, r = i.document, o = navigator.userAgent,
            d = o.match(/Android[\S\s]+AppleWebkit\/(\d{3})/i), l = o.match(/U3\/((\d+|\.){5,})/i),
            c = l && parseInt(l[1].split(".").join(""), 10) >= 80,
            p = navigator.appVersion.match(/(iphone|ipad|ipod)/gi), s = i.devicePixelRatio || 1;
          p || d && d[1] > 534 || c || (s = 1);
          var u = normal ? 1 : 1 / s, m = r.querySelector('meta[name="viewport"]');
          m || (m = r.createElement("meta"), m.setAttribute("name", "viewport"), r.head.appendChild(m)), m.setAttribute("content", "width=device-width,user-scalable=no,initial-scale=" + u + ",maximum-scale=" + u + ",minimum-scale=" + u), r.documentElement.style.fontSize = normal ? "50px" : a / 2 * s * n + "px"
        }, e.exports = t["default"]
      }]);
      flex(false, 100, 1);</script>
    <link rel="shortcut icon" href="//www.iqiyipic.com/common/images/logo.ico" type="image/icon">
    <link rel="stylesheet" href="<%- getStatic('res/css/hake.min.css') %>">
    <link rel="stylesheet" href="<%- getStatic('auction.css') %>">
</head>
<body>
<div class="container">
    <div data-container class="container-box">
        <span id="mylistEntrance" class="mylist-entrance"><span id="newMessageInMylist"
                                                                class="mylist-new-message"></span>我的抢拍</span>
        <div class="buyer-wrapper">
            <div data-carousel-id="carousel" class="carousel-wrapper"></div>
            <div data-carousel-id="carousel2" class="carousel-wrapper"></div>
            <div data-bid="count-wrapper" class="bid-wrapper">本轮<span data-bid="count" class="bid-counter">0</span>人已出价
            </div>
        </div>
        <div class="countdown-wrapper">
            <h3 data-countdown="title" class="countdown-title">即将开始</h3>
            <h5 data-countdown="subTitle" class="countdown-sub-title">每分钟一轮</h5>
            <div data-countdown-id="countdown" class="countdown">
                <span data-countdown="hour" class="count-number">00</span><span class="count-symbol">:</span>
                <span data-countdown="minute" class="count-number">00</span><span class="count-symbol">:</span>
                <span data-countdown="second" class="count-number">00</span>
            </div>
        </div>
        <div class="bid-aboutme">
            <div data-my-score class="tips-primary">我的积分:<span data-score class="integral-number">0</span></div>
            <div class="btn-wrapper">
                <span data-bid="button" class="btn-primary-block">立即出价</span>
            </div>
            <div data-bottom-price class="tips-primary">本轮底价0积分</div>
        </div>
        <div class="rules-wrapper">
            <div class="block-title"><span class="block-bg-left"></span>
                <h3 class="block-text">活动规则</h3><span class="block-bg-right"></span>
            </div>
            <ul data-rule-list class="rules-list">
                <% for (let i = 0; i < ruleList.length; i++) { %>
                    <li class="rule-item"><span class="rule-circle"></span><div class="rule-text"><%= ruleList[i] %></div></li>
                <% } %>
            </ul>
        </div>
    </div>
</div>

<div data-award-entry class="award-image-wrapper"><span class="award-image"></span></div>

<% if (env === 'fat') { %>
    <!--vconsole for test-->
    <script src="//statics-web.iqiyi.com/common/jssdk/src/vconsole.min.js"></script>
    <script>var vConsole = new VConsole()</script>
<% } %>

<script src="<%- getStatic('res/scripts/lib/zepto-with-tap-i.min.js') %>"></script>
<script src="<%- getStatic('res/scripts/lib/icheck.min.js') %>"></script>
<script src="//statics-web.iqiyi.com/common/jssdk/iqiyiJsBridge-v2-min.js"></script>
<script src="<%- getStatic('vendor.js') %>"></script>
<script src="<%- getStatic('auction.js') %>"></script>
</body>
</html>
