<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset='utf-8'/>
    <meta httpEquiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <title>积分夺宝</title>
    <link rel="shortcut icon" href="//www.iqiyipic.com/common/images/logo.ico" type="image/icon">
    <link rel="stylesheet" href="<%- getStatic('res/css/mescroll.min.css') %>">
    <link rel="stylesheet" href="<%- getStatic('snatchRecord.css') %>"/>
</head>
<body>

<div id="switchContainer"></div>
<div id="mescroll" class="mescroll snatch-scroll-container">
    <div id="noRecord"></div>
    <div id="listContainer"></div>
</div>

<% if (env === 'fat') { %>
    <!--vconsole for test-->
    <script src="//statics-web.iqiyi.com/common/jssdk/src/vconsole.min.js"></script>
    <script>var vConsole = new VConsole()</script>
<% } %>

<script src="<%- getStatic('res/scripts/lib/zepto-with-tap-i.min.js') %>"></script>
<script src="//statics-web.iqiyi.com/common/jssdk/iqiyiJsBridge-v2-min.js"></script>
<script src="<%- getStatic('res/scripts/lib/mescroll.min.js') %>"></script>
<script src="<%- getStatic('vendor.js') %>"></script>
<script src="<%- getStatic('snatchRecord.js') %>"></script>
</body>
</html>
